*.class
*.log

# Intelij Idea specific
.idea/
.idea-modules/
*.iml

# Scala-IDE specific
.scala_dependencies

# SBT specific
dist/*
target/
lib_managed/
src_managed/
project/plugins
project/boot/
project/target
project/project
